:root {
    --primary-bg: #242526;
    --secondary-bg: #fff;
    --primary-text-color: #555;
    --secondary-text-color: #cecece;
    --border-radius: 8px;
    --speed: 500ms;
    --info-text-color: #D1E3DD;
    --back-ground-color-1: #32292F;
    --back-ground-color-2: #575366;
    --back-ground-color-3: #292227;
    --border-color: #B8BDB5;
    --label-color: #6E7DAB;
    --label-color-2: #5762D5;
  }

  body {
    margin: 0;
    background-color: var(--back-ground-color-1);

  }
  

  ul{
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .header {
    height: 60px;
    display: flex;
    width: calc(100vw - 20px);
    padding: 10px;
    justify-content: space-between;
    box-shadow: 0 3px 2px var(--back-ground-color-3);
    background-color: var(--back-ground-color-3);
    z-index: 3;
    position: absolute;
  }

  .me-logo {
    height: 50px;
    margin-top: 5px;
  }


  .header-txt {
    font-size: 50px;
    margin: -2px;
    color: white;
  }

  .menu-container{
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: var(--back-ground-color-3);
  }

  .menu-trigger img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-left: 70%;
  }
  
  .dropdown-menu{
    background-color: #fff;
    border-radius: var(--border-radius);
    width: 200px;

  }
  
  /* these next 2 are the bit important ones that animate it */
  .dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
    box-shadow: 3px 3px 1px lightgrey, -3px -3px 1px lightgrey;
  }
  
  .dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
  }
  
  
  h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: var(--primary-text-color);
    line-height: 1.2rem;
  }
  
  h3 span{
    font-size: 14px;
    color: var(--secondary-text-color);
    font-weight: 400;
  }
  
  
  .dropdownItem{
    display: flex;

  }
  
  .dropdownItem img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
  }
  
  .dropdownItem a{
    max-width: 100px;
    margin-left: 10px;
    transition: var(--speed);
  }


  .homepage {
    height: 49vh;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }

  .homeComponent {
    height: calc(100% - 60px);
    width: 49%;
    border: 1px solid var(--border-color);
    margin: auto;
  }

  .wallet-tracker {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    align-items: center;
    grid-gap: 30px;
    padding-top: 95px;
  }

  .wallet-submit {
    height: 300px;
    width: 400px;
    border: 1px solid black;
  }

  .containers {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 300px;
    width: 400px;
    overflow: scroll;
    overflow-x: hidden;
    margin: auto;
    background-color: var(--back-ground-color-3);
    box-shadow: 0 0 3px 3px var(--back-ground-color-2);
    border-radius: 15px;
  }

  .containers::-webkit-scrollbar { 
    width: 0 !important;
  }

  .container-label {
    color: var(--label-color);
    position: absolute;
    display: flex;
    height: 55px;
    background-color: var(--back-ground-color-3);
    width: 400px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    z-index: 0;
    border-radius: 15px;
  }

  .all-label{
    width: 500px;
  }

  .scroll-container {
    margin-top: 55px;
    color: var(--label-color-2);
  }

  .scroll-item {
    display: flex;
    flex-direction: row;
    height: 55px;
    padding: 10px;
    background-color: var(--back-ground-color-2);
    border-radius: 15px;
    margin: 5px;
    align-items: center;
  }

  .scroll-img {
    width: 50px;
    margin-left: auto;
  }
  
  .scroll-info {
    display: flex;
    justify-content: space-evenly;
    color: var(--info-text-color);
  }

  .type {
    margin-left: 15px;
  }

  .sol-logo {
    height: 15px;
    margin: 0 5px 0 15px;
    
  }

  .meta-data-error{
    size: 5px;
    margin-left: 10px;
  }

  .all-activity {
    width: 500px;
  }

  .submit-section {
    display: flex;
    align-items: center;
    height: auto;
    color: var(--info-text-color);
  }

  .wallet-textbox {
    background-color: var(--back-ground-color-1);
    border: none;
    margin: 5px;
    border: 1px solid var(--back-ground-color-2);
    padding: 5px;
    border-radius: 10px;
    color: var(--label-color-2)
  }

  .wallet-textbox::placeholder {
    color: var(--label-color-2);
    text-align: center;
    font-weight: bold;
  }

  .submit-wallet-button {
    color: var(--label-color-2);
    background-color: var(--back-ground-color-1);
    border: none;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid var(--back-ground-color-2);
  }