:root {
    --info-text-color: #D1E3DD;
    --back-ground-color-1: #32292F;
    --back-ground-color-2: #575366;
    --back-ground-color-3: #292227;
    --border-color: #B8BDB5;
    --label-color: #6E7DAB;
    --label-color-2: #5762D5;
  }

  body {
    padding: 0;
    margin: 0;
    background-color: var(--back-ground-color-1);
  }


.homepage{
    background: var(--border-color);
    height: 100%;
    width: 100%;
    margin: 0;
    padding-bottom: 100px;
    overflow: hidden;
}

.section-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 140px auto 20px auto; 
    width: 100%;
}


.section-text {
    text-align: center;
    width: 40%;
    color: var(--label-color-2);
}

.section-title{
    border-bottom: 3px solid var(--back-ground-color-2);
    font-weight: bold;
    font-size: 50px;
    color: var(--label-color-2);
}

.wallet-text {
    font-size: 25px;
}

.section-img {
    width: 650px;
    box-shadow: 0 0 3px 3px var(--back-ground-color-2);
    z-index: 0;
}

.wt1 {
    margin-left: 50px;
    z-index: 2;
}

.whale-text {
    font-size: 30px;
}